/*
    Custom Styles By Michael
    These styles override the theme files and contain fixes and custimization for the mobile navigation.
*/

a {
    color: #ccc;
}

#header nav > ul > li a.active {
    color: #34a58e;
}

#header nav > ul > li a:hover {
    background: #34363b;
}

.headerLogo {
    height: 50px;
}

.aboutImgContainer {
    width: 100%;
}

.aboutImgContainer img {
    width: 49%;
}

.mobileMenu {
    display: none;
}

@media screen and (max-width: 736px) {
    .desktopMenu {
        display: none;
    }
    .mobileMenu {
        display: block;
    }
    #footer {
        height: 100%;
        z-index: 99999;
    }

}

.mobile-menu {
    display: block;
    width: 100%;
    background: #1f2224/*e0b88f/*c99393/*e5d1a4/*dcc591/*EFD3A3*/
    ;
    line-height: 1.6em;
    font-weight: 400;
    width: 100%;
    text-align: center;
    position: relative;
    margin: 0 auto;
}


/*Strip the ul of padding and list styling*/

.mobile-menu ul {
    list-style-type: none;
    margin: 0 auto;
    padding-left: 0;
    text-align: center;
    width: 100%;
    position: absolute;
    background: #8aa8bd;
}


/*Create a horizontal list with spacing*/

.mobile-menu li {
    display: inline-block;
    /*float: left;
	margin-right: 1px;*/
}


/*Style for menu links*/

.mobile-menu li a {
    display: block;
    min-width: 140px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    background: #1f2224;
    text-decoration: none;
    margin-left: -5px;
    padding: 15px 0!important;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}


/*Hover state for top level links*/

.mobile-menu li:hover a {
    color: #4db3ff;
    background-color: #ccddee;
}


/*Style for dropdown links*/

.mobile-menu li:hover ul a {
    background: #f3f3f3;
    color: #2f3036;
    height: 40px;
    line-height: 40px;
}


/*Hover state for dropdown links*/

.mobile-menu li:hover .mobile-menu ul a:hover {
    color: #4db3ff;
}


/*Hide dropdown links until they are needed*/

.mobile-menu li ul {
    display: none;
}


/*Make dropdown links vertical*/

.mobile-menu li ul li {
    display: block;
    float: none;
}


/*Prevent text wrapping*/

.mobile-menu li ul li a {
    width: auto;
    min-width: 100px;
    padding: 0 20px;
}


/*Style 'show menu' label button and hide it by default*/

.mobile-menu .show-menu {
    text-decoration: none;
    color: #fff;
    background: #1f2224;
    text-align: center;
    padding: 17px 15px;
    display: none;
    cursor: pointer;
    text-transform: uppercase;
    margin-bottom: 0;
}

.mobile-menu .show-menu span {
    padding-left: 35px;
}


/*Hide checkbox*/

.mobile-menu input[type=checkbox] {
    display: none;
}


/*Show menu when invisible checkbox is checked*/

.mobile-menu input[type=checkbox]:checked ~ #menu {
    display: block;
}


/*Responsive Styles*/

@media screen and (max-width: 736px) {
    .mobile-menu .lines {
        border-bottom: 15px double #f8f8f8;
        border-top: 5px solid #f8f8f8;
        content: "";
        height: 5px;
        width: 20px;
        padding-right: 15px;
        float: right;
    }
    /*Make dropdown links appear inline*/
    .mobile-menu ul {
        position: static;
        display: none;
    }
    /*Create vertical spacing*/
    .mobile-menu li {
        margin-bottom: 0px;
    }
    /*Make all menu links full width*/
    .mobile-menu ul li,
    .mobile-menu li a {
        width: 100%;
    }
    /*Display 'show menu' link*/
    .mobile-menu .show-menu {
        display: block;
    }
}


/*HOME PAGE STYLES*/

#home_01 {
    background-image: url("/images/home/bw-mtns.jpg");
    background-position: center;
    height: 100vh;
}

#home_03 {
    background-image: url("/images/home/half-dome.jpg");
    background-position: center;
    height: 100vh;
    }

#home_04{
    padding-bottom: 50px;
}

#home_05{
    background-image: url("/images/home/Oregon_Road.jpg");
    background-position: center;
    height: 100vh;
    text-align: right;
}

#home_03 h2{
    letter-spacing: 10px;
}

#home_03 p{
        max-width: 250px;
    color: #ccc;
}

#home_05 p{

    color: #ccc;
}

#home_05 h2{
    letter-spacing: 10px;
}


#home_01 .logo{
    padding-top: 225px;
    width: 100px;
}

#home_01 .home-message h1 {
    font-size: 70px;
    font-weight: 700;
    padding-top: 0;
    line-height: 1em;
    padding-bottom: 350px;
}

#home_01 .home-message h2{
    margin-bottom: 0;
    letter-spacing: 15px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    margin: 2em;
    align-content: flex-start;
}

.flex-item {
    flex: 1;
    text-align: center;
    padding: 20px;
}

.flex-container-left {
    display: flex;
    flex-wrap: wrap;
    margin: 2em;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
}

.flex-container-right {
    display: flex;
    flex-wrap: wrap;
    margin: 2em;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
}

@media screen and (max-width: 1125px) {
    .flex-container-left {
     align-items: flex-end;
    padding-bottom: 50px;
    }
}

.home-header h2{
    letter-spacing: 15px;
    text-align: center;
    padding-top: 50px;
}

.services{
    padding-top: 50px;
}

.services h4{
    letter-spacing: 10px;
}

.arrows {
	width: 60px;
	height: 72px;
	position: absolute;
	left: 50%;
	margin-left: -30px;
	top: 63vh;
}

.arrows path {
	stroke: #fff;
	fill: transparent;
	stroke-width: 1px;
	animation: arrow 2s infinite;
	-webkit-animation: arrow 2s infinite;
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
	animation-delay:-1s;
	-webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
	animation-delay:-0.5s;
	-webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {
	animation-delay:0s;
	-webkit-animation-delay:0s; /* Safari 和 Chrome */
}
